.button {
    --button-text-color: var(--color-text-on-brand-light);
    --button-background-color: var(--color-brand-primary);
    --button-text-color-hover: var(--color-text-on-brand-light);
    --button-background-color-hover: var(--color-brand-dark);
    display: block;
    width: fit-content;
    padding: var(--spacing-sm) var(--spacing-4xl);
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    border-radius: 100px;
    border: 1px solid var(--button-border-color, transparent);
    line-height: var(--line-height-none);
    font-family: var(--font-family-buttons);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}
a.button:hover {
    text-decoration: none;
}
.button.clamp-padding {
    padding: clamp(var(--spacing-xs), 2vw, var(--spacing-sm)) clamp(var(--spacing-lg), 6vw, var(--spacing-4xl));
}

.button:focus,
.button:active,
.button:hover {
    color: var(--button-text-color-hover, 'inherit');
    background-color: var(--button-background-color-hover);
    border-color: var(--button-border-color-hover, var(--button-border-color, transparent));
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button.filter-button {
    --button-text-color: var(--color-text-on-brand-light);
    --button-background-color: var(--color-brand-lighter);
    --button-background-color-hover: var(--color-brand-secondary-dark);
}

.button.compact {
    padding: var(--spacing-xs) var(--spacing-2xl);
}

.button.extra-compact {
    padding: var(--spacing-xs) var(--spacing-md);
}

.button.link {
    --button-text-color: var(--color-brand-primary);
    --button-background-color: var(--color-surface-white);
    --button-text-color-hover: var(--color-surface-white);
    --button-background-color-hover: var(--color-brand-primary);
    --button-border-color: transparent;
}

.button.outline {
    --button-text-color: var(--color-brand-primary);
    --button-background-color: var(--color-surface-white);
    --button-text-color-hover: var(--color-surface-white);
    --button-background-color-hover: var(--color-brand-primary);
    --button-border-color: var(--color-brand-primary);
    border-width: 2px;
}
.button.white {
    --button-background-color: var(--color-surface-white);
    --button-text-color: var(--color-text-on-white);
    --button-text-color-hover: var(--color-text-on-white);
    --button-background-color-hover: var(--color-surface-secondary-light);
    --button-border-color: transparent;
}

.icon-button {
    display: inline-flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
