.concentric-circles > * {
  &:nth-child(1) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 730%;
      padding-bottom: 730%;
      background-color: var(--color-surface-secondary-light);
      z-index: -1;
      border-radius: 100%;
      transform: translateY(-43%);

      [dir="rtl"] & {
        transform: translate(-85%, -43%);
      }
    }
  }
  &:nth-child(2) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 520%;
      padding-bottom: 520%;
      background-color: var(--color-surface-brand-lightest);
      z-index: -1;
      border-radius: 100%;
      transform: translateY(-41%);

      [dir="rtl"] & {
        transform: translate(-80%, -41%);
      }
    }
  }
  &:nth-child(3) {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 310%;
      padding-bottom: 310%;
      background-color: var(--color-surface-brand-light);
      z-index: -1;
      border-radius: 100%;
      transform: translateY(-34%);
      bottom: 0;

      [dir="rtl"] & {
        transform: translateY(-34%);
      }
    }
  }
  &:nth-child(4) {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 130%;
      padding-bottom: 130%;
      background-color: var(--color-surface-brand-dark);
      z-index: -1;
      border-radius: 100%;
      transform: translate(-8%, -8%);
      bottom: 0;

      [dir="rtl"] & {
        transform: translate(12%, -12%);
      }
    }
  }
}

@media (max-width: 1200px) {
  .progress-section {
    h2.progress-section__title {
      color: var(--color-brand-primary);
    }
  }

  .concentric-circles > * {
    flex-basis: 100%;

    &:nth-child(1)::before {
      transform: translateX(-40.5%);
      width: 500%;
      padding-bottom: 500%;
      [dir="rtl"] & {
        transform: translate(-40.5%, 0%);
      }
    }
    &:nth-child(2)::before {
      transform: translateX(-38%);
      width: 400%;
      padding-bottom: 400%;
      [dir="rtl"] & {
        transform: translate(-38%, 0%);
      }
    }
    &:nth-child(3)::before {
      transform: translateX(-34%);
      width: 300%;
      padding-bottom: 300%;
      [dir="rtl"] & {
        transform: translate(33%, 0%);
      }
    }
    &:nth-child(4)::before {
        content: none;
    }
  }
}
