/* Shapes */

.rounded-md {
  border-radius: var(--border-radius-lg);
}

.rounded-xlg {
  border-radius: var(--border-radius-xlg);
}

.square {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.rotate-90 {
  rotate: 90deg;
  transform: none;

  [dir="rtl"] & {
    rotate: -90deg;
  }
}

.rotate-180 {
  rotate: 180deg;
  transform: none;
}

.rotate-270 {
  rotate: 270deg;
  transform: none;

  [dir="rtl"] & {
    rotate: -270deg;
  }
}
